@import '../styles/colors.scss';

.account-details {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  border-bottom: solid 1px #E9ECEF;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  .account-info {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
    .user-info {
      display: flex;
      align-items: center;
      label {
        margin-right: 20px;
        font-size: $font18;
      }
      .icons-list {
        display: flex;
        margin: unset;
        img {
          width: 15px;
          height: 15px;
          margin: unset;
        }
      }
    }
    .location-info {
      span {
        margin-right: 20px;
        font-size: $font13;
      }
    }
    @media only screen and (max-width: 768px) {
      padding-bottom: 10px;
    }
  }

  .btn-options {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 768px) {
      justify-content: space-between;
    }

    button {
      padding: 5px;
      border: solid 1px #E9ECEF;
      border-radius: 5px;
      margin-right: 5px;
       
      &.active {
        background-color: #a0e4a0;
      }
  
      &.contact {
        &.linked {
          color: '';
          background-color: '';
        }
        &.not-linked {
          color: #E03131;
          background-color: $lightRed;
        }
      }
    }
  }

}

.contact-info {
  padding: 16px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #E9ECEF;
  
  span {
    display: flex;
    align-items: center;
    color: $blueAC;
    &:first-child, img {
      margin-right: 10px;
    }
  }
  @media only screen and (max-width: 768px) {
    justify-content: space-between;
  }
}
