.icons-list {
  list-style: none;
  padding-left: unset;
  text-align: center;
  @media only screen and (max-width: 768px) {
    margin: unset;
  }

  li {
    padding: 8px;
    .icon-btn {
      all: unset;
    }
    img {
      width: 38px;
      height: 38px;
    }
  }
  li.navigation-icons {
    &.active {
      background-color: #2570CA;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hide-icon {
    display: none;
  }
}
