@import '../styles/colors.scss';

.jobs-section {
  padding: 0 0 16px;
 
  .icons-list {
    display: flex;
    .jobs-icons {
      background-color: #E6F1FF;
      border-radius: 50%;
      margin-right: 10px;
      img {
        width: 19px;
        height: 15px;
      }
    }
  }
  .job-details {
    .filter-options {
      background-color: #E9ECEF;
      list-style: none;
      display: flex;
      margin: unset;
      padding-left: unset;
      li {
        padding: 16px;
        &.hide-option {
          @media only screen and (max-width: 768px) {
            display: none;
          }
        } 
        &.active {
          background-color: #FFFFFF;
          border-bottom: 2px solid $blue;
          color: $blue;
        }
        button {
          all: unset;
        }
      }
    }
    table {
      width: 100%;
      padding: 16px;
      border-collapse: separate;
      border-spacing: 0 15px;
      td {
        padding: 16px;
        &:first-child {
          display: flex;
        }
      }
    }
  }
}