.jobs {
  outline: thin solid #E9ECEF;
  border-radius: 5px;
  td {
    img {
      margin-right: 10px;
    }
    button {
      padding: 5px;
      border: solid 1px #E9ECEF;
      border-radius: 5px;
    }
    &.status, &.view-details, &.toggle-switch {
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}