@import '../styles/colors.scss';

.notification-card {
  padding: 16px;
  border: solid 1px #E9ECEF;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-bottom: 16px;
  p {
    label {
      margin-right: 10px;
      color: $blue;
    }
    &:first-child {
      display: flex;
      align-items: center;
      img {
        padding: 5px;
        margin-right: 10px;
        background-color: #E6F1FF;
        border-radius: 50%;
      }
    }
    &:nth-child(3) {
      color: $blue;
    }
    &:last-child {
      display: flex;
      justify-content: space-between;
    }
  }
}