@import '../styles/colors.scss';

.notifications-section {
  padding: 0 0 16px;
  width: 30%;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
  .icons-list {
    display: flex;
    margin-left: 16px;
    .notifications-icons {
      background-color: #E6F1FF;
      border-radius: 50%;
      margin-right: 10px;
      img {
        width: 19px;
        height: 15px;
      }
    }
  }
  .notifications {
    background-color: #F8F9FA;
    .filter-options {
      background-color: #E9ECEF;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      margin: unset;
      padding: 20px 0;
      button {
        all: unset;
        &.active {
          label {
            color: $blue !important;
          }
        }
      }
    }
    .notification-cards-list {
      padding: 16px;
    }
  }
}