 
//colors
$red: #E03131;
$lightRed: #F6C1C1;
$blue: #2570CA;
$blueAC: #1F5FAC;
$black: #000000;
$greyBold: #343A40;
$greyThin: #495057;
$lightGrey: #999FA7;
$grey96: #868E96;
$greyF5: #F1F3F5;

//fonts
$font12: 12px;
$font13: 13px;
$font14: 14px;
$font18: 18px;