.user-details-page {
  display: flex;
  justify-content: space-between;
  .main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    .user-details-notifications {
      display: flex;
      .user-details-section-container {
        width: 70%;
        .user-details-table {
          display: flex;
          justify-content: space-between;
          padding: 16px;
          td {
            padding: 5px 0;
            label {
              margin-right: 40px;
            }
          }
        }
      }
    }
  }
}
