@use '../fonts/fonts.scss';

.body {
  max-width: 1300px;
  padding: 0;
  color: #495057;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'sfPro-regular', sans-serif;
  font-size: 14px;
  p {
    margin-top: unset;
    margin-bottom: 5px;
  }
  button {
    all: unset;
  }
}
